body { background-color: #fff; color: #222; font-family: 'Open Sans', sans-serif; margin: 0; }

h1, h2, h3, h4, h5 { font-family: Lusitana, serif; }

h3 a, h4 a, h5 a { text-decoration: none; font-family: 'Open Sans', sans-serif; }

a { color: #0f538b; text-decoration: none; }

a:visited { color: #508B88; }

a:hover, a:focus { text-decoration: underline; }

pre, code { font-family: "Source Code Pro", monospace; font-weight: normal; }

pre { font-size: 13px; line-height: 16px; }

/* Google style button */
.button { -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; cursor: default; font-size: 11px; font-weight: bold; text-align: center; margin-right: 16px; height: 27px; line-height: 27px; min-width: 54px; outline: 0px; padding: 0 8px; display: inline-block; }

.button:disabled { background-color: #dcdcdc; }

.button_action { background-color: #4D90FE; background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed); background-image: -moz-linear-gradient(top, #4d90fe, #4787ed); background-image: -ms-linear-gradient(top, #4d90fe, #4787ed); background-image: -o-linear-gradient(top, #4d90fe, #4787ed); background-image: linear-gradient(top, #4d90fe, #4787ed); border: 1px solid #3079ED; color: white; text-decoration: none; }

.main { float: left; width: 100%; }

header { position: fixed; top: 0; overflow: visible; background: white; opacity: 1.0; height: 2.3em; width: 100%; background-color: #ff6600; color: white; }

.aside { padding: 8px; width: 160px; /*Width of left column*/ position: fixed; height: 100%; top: 2em; }

.aside ul { padding: 0; margin: 0; }

.aside ul li { font-size: 80%; padding: 2px 4px; list-style-type: none; }

.aside a { text-decoration: none; }

.aside .title { text-transform: uppercase; font-size: small; }

.content { padding: 8px; margin-top: 2.5em; margin-left: 160px; /*Set left margin to LeftColumnWidth*/ }

summary::-webkit-details-marker { display: none; }

.logo { display: inline; float: left; padding: 4px 10px 4px 16px; }

#footer { clear: both; margin-left: auto; margin-right: auto; color: #767676; font-size: 13px; padding: 32px 0 20px; text-align: center; }

article { line-height: 1.3em; }

/*
* Closure Library CSS
*/
/* Copyright 2009 The Closure Library Authors. All Rights Reserved.  Use of this source code is governed by the Apache License, Version 2.0. See the COPYING file for details. */
/* Cross-browser implementation of the "display: inline-block" CSS property. See http://www.w3.org/TR/CSS21/visuren.html#propdef-display for details. Tested on IE 6 & 7, FF 1.5 & 2.0, Safari 2 & 3, Webkit, and Opera 9.  @author attila@google.com (Attila Bodis) */
/* Default rule; only Safari, Webkit, and Opera handle it without hacks. */
.goog-inline-block { position: relative; display: -moz-inline-box; /* Ignored by FF3 and later. */ display: inline-block; }

/* Pre-IE7 IE hack.  On IE, "display: inline-block" only gives the element layout, but doesn't give it inline behavior.  Subsequently setting display to inline does the trick. */
* html .goog-inline-block { display: inline; }

/* IE7-only hack.  On IE, "display: inline-block" only gives the element layout, but doesn't give it inline behavior.  Subsequently setting display to inline does the trick. */
*:first-child + html .goog-inline-block { display: inline; }

/* Copyright 2010 The Closure Library Authors. All Rights Reserved.  Use of this source code is governed by the Apache License, Version 2.0. See the COPYING file for details. */
.goog-bubble-font { font-size: 80%; color: #888888; }

.goog-bubble-close-button { background-image: url(//ssl.gstatic.com/closure/bubble_close.jpg); background-color: white; background-position: top right; background-repeat: no-repeat; width: 16px; height: 16px; }

.goog-bubble-left { background-image: url(//ssl.gstatic.com/closure/bubble_left.gif); background-position: left; background-repeat: repeat-y; width: 4px; }

.goog-bubble-right { background-image: url(//ssl.gstatic.com/closure/bubble_right.gif); background-position: right; background-repeat: repeat-y; width: 4px; }

.goog-bubble-top-right-anchor { background-image: url(//ssl.gstatic.com/closure/right_anchor_bubble_top.gif); background-position: center; background-repeat: no-repeat; width: 147px; height: 16px; }

.goog-bubble-top-left-anchor { background-image: url(//ssl.gstatic.com/closure/left_anchor_bubble_top.gif); background-position: center; background-repeat: no-repeat; width: 147px; height: 16px; }

.goog-bubble-top-no-anchor { background-image: url(//ssl.gstatic.com/closure/no_anchor_bubble_top.gif); background-position: center; background-repeat: no-repeat; width: 147px; height: 6px; }

.goog-bubble-bottom-right-anchor { background-image: url(//ssl.gstatic.com/closure/right_anchor_bubble_bot.gif); background-position: center; background-repeat: no-repeat; width: 147px; height: 16px; }

.goog-bubble-bottom-left-anchor { background-image: url(//ssl.gstatic.com/closure/left_anchor_bubble_bot.gif); background-position: center; background-repeat: no-repeat; width: 147px; height: 16px; }

.goog-bubble-bottom-no-anchor { background-image: url(//ssl.gstatic.com/closure/no_anchor_bubble_bot.gif); background-position: center; background-repeat: no-repeat; width: 147px; height: 8px; }

/* Copyright 2007 The Closure Library Authors. All Rights Reserved.  Use of this source code is governed by the Apache License, Version 2.0. See the COPYING file for details. */
/* Author: arv@google.com (Erik Arvidsson) */
/* Author: eae@google.com (Emil A Eklund) */
/* Author: jonp@google.com (Jon Perlow) */
/* TODO(arv): Currently the sprite image has the height 16px. We should make the image taller which would allow better flexibility when it comes to the height of a tree row.
*/
.goog-tree-root:focus { outline: none; }

.goog-tree-row { white-space: nowrap; font: icon; line-height: 16px; height: 16px; }

.goog-tree-row span { overflow: hidden; text-overflow: ellipsis; }

.goog-tree-children { background-repeat: repeat-y; background-image: url(//ssl.gstatic.com/closure/tree/I.png) !important; background-position-y: 1px !important; /* IE only */ font: icon; }

.goog-tree-children-nolines { font: icon; }

.goog-tree-icon { background-image: url(//ssl.gstatic.com/closure/tree/tree.png); }

.goog-tree-expand-icon { vertical-align: middle; height: 16px; width: 16px; cursor: default; }

.goog-tree-expand-icon-plus { width: 19px; background-position: 0 0; }

.goog-tree-expand-icon-minus { width: 19px; background-position: -24px 0; }

.goog-tree-expand-icon-tplus { width: 19px; background-position: -48px 0; }

.goog-tree-expand-icon-tminus { width: 19px; background-position: -72px 0; }

.goog-tree-expand-icon-lplus { width: 19px; background-position: -96px 0; }

.goog-tree-expand-icon-lminus { width: 19px; background-position: -120px 0; }

.goog-tree-expand-icon-t { width: 19px; background-position: -144px 0; }

.goog-tree-expand-icon-l { width: 19px; background-position: -168px 0; }

.goog-tree-expand-icon-blank { width: 19px; background-position: -168px -24px; }

.goog-tree-collapsed-folder-icon { vertical-align: middle; height: 16px; width: 16px; background-position: -0px -24px; }

.goog-tree-expanded-folder-icon { vertical-align: middle; height: 16px; width: 16px; background-position: -24px -24px; }

.goog-tree-file-icon { vertical-align: middle; height: 16px; width: 16px; background-position: -48px -24px; }

.goog-tree-item-label { margin-left: 3px; padding: 1px 2px 1px 2px; text-decoration: none; color: WindowText; cursor: default; }

.goog-tree-item-label:hover { text-decoration: underline; }

.selected .goog-tree-item-label { background-color: ButtonFace; color: ButtonText; }

.focused .selected .goog-tree-item-label { background-color: Highlight; color: HighlightText; }

.goog-tree-hide-root { display: none; }

/* Copyright 2009 The Closure Library Authors. All Rights Reserved.  Use of this source code is governed by the Apache License, Version 2.0. See the COPYING file for details. */
/* Standard styling for menus created by goog.ui.MenuRenderer.  @author attila@google.com (Attila Bodis) */
.goog-menu { background: #fff; border-color: #ccc #666 #666 #ccc; border-style: solid; border-width: 1px; cursor: default; font: normal 13px Arial, sans-serif; margin: 0; outline: none; padding: 4px 0; position: absolute; z-index: 20000; /* Arbitrary, but some apps depend on it... */ }

/* Copyright 2009 The Closure Library Authors. All Rights Reserved.  Use of this source code is governed by the Apache License, Version 2.0. See the COPYING file for details. */
/* Standard styling for menus created by goog.ui.MenuItemRenderer.  @author attila@google.com (Attila Bodis) */
/** State: resting.  NOTE(mleibman,chrishenry): The RTL support in Closure is provided via two mechanisms -- "rtl" CSS classes and BiDi flipping done by the CSS compiler.  Closure supports RTL with or without the use of the CSS compiler.  In order for them not to conflict with each other, the "rtl" CSS classes need to have the @noflip annotation.  The non-rtl counterparts should ideally have them as well, but, since .goog-menuitem existed without .goog-menuitem-rtl for so long before being added, there is a risk of people having templates where they are not rendering the .goog-menuitem-rtl class when in RTL and instead rely solely on the BiDi flipping by the CSS compiler.  That's why we're not adding the @noflip to .goog-menuitem. */
.goog-menuitem { color: #000; font: normal 13px Arial, sans-serif; list-style: none; margin: 0; /* 28px on the left for icon or checkbox; 7em on the right for shortcut. */ padding: 4px 7em 4px 28px; white-space: nowrap; }

/* BiDi override for the resting state. */
/* @noflip */
.goog-menuitem.goog-menuitem-rtl { /* Flip left/right padding for BiDi. */ padding-left: 7em; padding-right: 28px; }

/* If a menu doesn't have checkable items or items with icons, remove padding. */
.goog-menu-nocheckbox .goog-menuitem, .goog-menu-noicon .goog-menuitem { padding-left: 12px; }

/* If a menu doesn't have items with shortcuts, leave just enough room for submenu arrows, if they are rendered. */
.goog-menu-noaccel .goog-menuitem { padding-right: 20px; }

.goog-menuitem-content { color: #000; font: normal 13px Arial, sans-serif; }

/* State: disabled. */
.goog-menuitem-disabled .goog-menuitem-accel, .goog-menuitem-disabled .goog-menuitem-content { color: #ccc !important; }

.goog-menuitem-disabled .goog-menuitem-icon { opacity: 0.3; -moz-opacity: 0.3; filter: alpha(opacity=30); }

/* State: hover. */
.goog-menuitem-highlight, .goog-menuitem-hover { background-color: #d6e9f8; /* Use an explicit top and bottom border so that the selection is visible in high contrast mode. */ border-color: #d6e9f8; border-style: dotted; border-width: 1px 0; padding-bottom: 3px; padding-top: 3px; }

/* State: selected/checked. */
.goog-menuitem-checkbox, .goog-menuitem-icon { background-repeat: no-repeat; height: 16px; left: 6px; position: absolute; right: auto; vertical-align: middle; width: 16px; }

/* BiDi override for the selected/checked state. */
/* @noflip */
.goog-menuitem-rtl .goog-menuitem-checkbox, .goog-menuitem-rtl .goog-menuitem-icon { /* Flip left/right positioning. */ left: auto; right: 6px; }

.goog-option-selected .goog-menuitem-checkbox, .goog-option-selected .goog-menuitem-icon { /* Client apps may override the URL at which they serve the sprite. */ background: url(//ssl.gstatic.com/editor/editortoolbar.png) no-repeat -512px 0; }

/* Keyboard shortcut ("accelerator") style. */
.goog-menuitem-accel { color: #999; /* Keyboard shortcuts are untranslated; always left-to-right. */ /* @noflip */ direction: ltr; left: auto; padding: 0 6px; position: absolute; right: 0; text-align: right; }

/* BiDi override for shortcut style. */
/* @noflip */
.goog-menuitem-rtl .goog-menuitem-accel { /* Flip left/right positioning and text alignment. */ left: 0; right: auto; text-align: left; }

/* Mnemonic styles. */
.goog-menuitem-mnemonic-hint { text-decoration: underline; }

.goog-menuitem-mnemonic-separator { color: #999; font-size: 12px; padding-left: 4px; }

/* default.css */
.header { clear: both; background-color: #ccc; padding: 8px; }

hr { border: none 0; border-top: 1px solid #7F8FB1; height: 1px; }

pre.code { display: block; padding: 8px; border: 1px dashed #ccc; }

#index { margin-top: 24px; float: left; width: 160px; position: absolute; left: 8px; background-color: #F3F3F3; padding: 8px; }

#content { margin-left: 190px; width: 600px; }

.classList { list-style-type: none; padding: 0; margin: 0 0 0 8px; font-size: 1em; overflow: auto; }

.classList li { padding: 0; margin: 0 0 8px 0; }

.summaryTable { width: 100%; }

h1.classTitle { font-size: 170%; line-height: 130%; }

caption, div.sectionTitle { background-color: #7F8FB1; color: #fff; font-size: 130%; text-align: left; padding: 2px 6px 2px 6px; border: 1px #7F8FB1 solid; }

div.sectionTitle { margin-bottom: 8px; }

.summaryTable thead { display: none; }

.summaryTable td { vertical-align: top; padding: 4px; border-bottom: 1px #7F8FB1 solid; border-right: 1px #7F8FB1 solid; }

/*col#summaryAttributes {}*/
.summaryTable td.attributes { border-left: 1px #7F8FB1 solid; width: 140px; text-align: right; }

td.attributes, .fixedFont { color: #002EBE; font-family: "Courier New", Courier, monospace; font-size: 13px; }

.summaryTable td.nameDescription { text-align: left; font-size: 13px; line-height: 15px; }

.summaryTable td.nameDescription, .description { padding: 4px; padding-left: 4px; }

.summaryTable { margin-bottom: 8px; }

ul.inheritsList { list-style: square; margin-left: 20px; padding-left: 0; }

.detailList { margin-left: 20px; }

.detailList dt { margin-left: 20px; }

.detailList .heading { font-weight: 600; padding-bottom: 6px; margin-left: 0; }

.light, td.attributes, .light a:link, .light a:visited { color: #777; font-style: italic; }

.fineprint { text-align: right; font-size: 10px; }

.menu_bar { padding: 6px 4px 8px 8px; font-size: medium; overflow: hidden; }

/* Old style Google menu bar */
.menu_bar ul { font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif; font-size: 13px; padding: 0; margin: 0; height: 20px; line-height: 1.5; }

.left { position: fixed; left: 0; display: inline; z-index: 0; }

.right { position: fixed; right: 0; display: inline; overflow: hidden; z-index: 1; }

.menu_bar ul li { padding: 4px; list-style: none; display: inline; }

.menu_bar ul li a { color: inherit; }

.menu_bar .left { text-transform: uppercase; width: 90%; }

.menu_bar .right span, .menu_bar .right a { line-height: 2em; }

.menu_bar .left a { text-decoration: none; }

.menu_bar .left ul li { display: inline-block; text-align: center; }

/** now using prettify */
.box { border: thin black solid; margin: 8px; padding: 8px; }

table.gridtable { font-family: verdana,arial,sans-serif; font-size: 11px; color: #333333; border-width: 1px; border-color: #666666; border-collapse: collapse; }

table.gridtable th { border-width: 1px; padding: 8px; border-style: solid; border-color: #666666; background-color: #dedede; }

table.gridtable td { border-width: 1px; padding: 8px; border-style: solid; border-color: #666666; background-color: #ffffff; }

.ydn-msg { background-color: #F9EDBE !important; border: 1px solid #F0C36D !important; padding: 3px 10px; overflow: hidden; }

.ydn-msg-content { padding-right: 5em; float: left; color: #666 !important; }

.ydn-msg-control { float: left; width: 3em; margin-left: -3em; }

span.version { font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif; font-variant: small-caps; margin: 0px 4px; padding: 0px 4px; border: solid thin yellow; float: right; }

span.version.risk { border-color: red !important; color: red !important; }

span.deferred-result { font-weight: 600; font-size: small; }

.dev-only { display: none; }

summary { cursor: pointer; }

.forkme { position: fixed; top: 2.3em; right: 0; border: 0; }

.content-penal { box-shadow: 1px 1px 10px #ccc; border-radius: 5px; margin: 16px 8px 8px 0; padding: 16px; }

ul.feed-entry { list-style: none; margin: 0; padding: 8px; }

.feed-entry li { border-bottom: thin solid lightseagreen; }

.file-info-title { float: left; min-width: 8em; }

.featured h1 { font-family: Lusitana, serif; text-align: center; font-style: normal; font-weight: 200; font-size: 58px; line-height: 1.0em; margin-bottom: 20px; letter-spacing: -2px; color: #232323; }

.featured hgroup { border-bottom: 1px solid #e8e8e8; text-align: center; height: 9px; margin-bottom: 11px; }

.featured hgroup h2 { display: inline; display: inline-block; background: #fff; font-weight: normal; font-size: 12px; color: #898989; letter-spacing: 1px; text-transform: uppercase; padding: 0 10px; }

section.featured { width: 100%; max-width: 700px; margin: 0 auto; }

.featured .note { clear: both; font-size: smaller; color: gray; }

.facebook { background-color: #3C5A98; color: #FFFFFF !important; }

.twitter { background-color: #DBF7F8; color: #2D6491 !important; }

.googleplus { background-color: #D14836; color: #FFFFFF !important; }

.linkedin { background-color: #185C80; color: #FFFFFF !important; }

.reddit { background-color: #CEE3F8; color: #000000 !important; }

.hackernews { background-color: #FF6600; color: #000000; }

.social { margin: 0 8px; padding: 0 4px !important; }

.socialshares { margin: 16px 8px 8px 0; padding: 4px 0; }

.aside { padding: 8px; width: auto; position: inherit; height: auto; top: inherit; }

.content { padding: 8px; margin-top: 1em; margin-left: inherit; }
